//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Custom Object Table
        a(href="/update-cobj") Add to this table
        table(style='width:100%', border='1')
            tr
                th Name
                th Color
                th Brand
                th Maximum Speed
            each car in data
                tr
                    td #{car.properties.name}
                    td #{car.properties.color}
                    td #{car.properties.brand}
                    td #{car.properties.max_speed}