//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        a(href="/") Add to this table
        h1 Cars list
        .cards 
            each car in data
                .card 
                    h2.card__name #{car.properties.name}
                    p.card__email #{car.properties.color}
                    p.card__email #{car.properties.brand}
                    p.card__email #{car.properties.max_speed}
                
        